/*#region xApi error page */

.xapi-error-container {
    position: relative;
    max-width: 590px;
    height: 230px;
    margin: 120px auto;
}

.xapi-error-container-img {
    display: inline-block;
    float: left;
    width: 128px;
    height: 127px;
    margin: 0 19px 0 35px;
    background: url('../img/xapi/xapierror.png') 0 0 no-repeat;
    background-size: 100%;
}

.xapi-error-container-header {
    font-family: Tahoma,sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 0 185px;
    padding: 21px 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.xapi-error-container-description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    word-wrap: break-word;
}

.xapi-error-container-buttons {
    margin: 50px 0;
    text-align: center;
}

.xapi-error-container-button {
    display: inline-block;
    border: 1px solid black;
    bottom: 0;
    color: #FFFFFF;
    font-size: 19px;
    height: 48px;
    line-height: 30px;
    opacity: 0.8;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 268px;
}

    .xapi-error-container-button:hover {
        opacity: 1;
    }

    .xapi-error-container-button.restart {
        background-color: #f26c4f;
        border-color: #F38971;
        float: left;
    }

    .xapi-error-container-button.restart.center {
        float: none;
    }

    .xapi-error-container-button.continue {
        background-color: #343a41;
        border-color: #62676B;
        float: right;
    }

/*#endregion xApi error page */


