<section id="content" class="question unselectable">
    <div>
        <header class="page-header">
            <div class="navigation-home-link-wrapper" data-bind="click: backToObjectives">
              <div class="navigation-home-link"></div>
            </div>
            <div class="objective-info">
                <span data-bind="text: objective.title">objective title</span>
                <div class="objective-progress">
                    <!-- ko if: objective.affectProgress -->
                    <div class="objective-progressbar-holder">
                        <div class="objective-progressbar-inside">
                            <div class="objective-progressbar-score" data-bind="style: { width: 100 - objective.score() + '%' }" style="width: 0;">&nbsp;</div>
                            <div class="objective-progressbar-masteryscore-indicator" data-bind="style: { left: masteryScore + '%' }">
                                <div class="objective-progressbar-masteryscore-indicator-value"></div>
                                
                            </div>
                        </div>
                        <div class="objective-progressbar-wrapper">
                            <div class="objective-progressbar-border"></div>
                        </div>
                    </div>
                    <span class="objective-progress-score" data-bind="text: objective.score() + '%'">0%</span>
                    <!-- /ko -->
                    <!-- ko ifnot: objective.affectProgress -->
                    <div class="objective-progressbar-holder">
                        <div class="objective-progressbar-wrapper not-affect-progress">
                            <div class="objective-progressbar-border" data-translate-text="[there are no questions]">No questions</div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="questions-navigation-container">
                <div class="question-navigation-bar">
                    <a class="previous" data-bind="attr: { href: navigationContext.previousQuestionUrl, title: 'previous'},css:{disabled : !isPreviousQuestionAvailable()}" data-translate-title="[previous question]">&nbsp;</a>
                    <span class="navigation-progress"><span data-bind="text: navigationContext.currentQuestionIndex + ' '"></span><span>/</span><span data-bind="text: ' ' + navigationContext.questionsCount"></span></span>
                    <a class="next" data-bind="attr: { href: navigationContext.nextQuestionUrl, title: 'next' }, css:{disabled: !isNextQuestionAvailable() }" data-translate-title="[next question]">&nbsp;</a>
                </div>
            </div>
        </header>
        <!-- ko ifnot: isLoadingNewQuestion -->
        <!-- ko compose: { model: activeViewModel, activationData: [ objective.id, question ] } --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- ko ifnot: isLoadingNewQuestion -->
            <div class="question-navigation-bar" style="float:right">
                <a class="previous" data-bind="attr: { href: navigationContext.previousQuestionUrl, title: 'previous'},css:{disabled : !isPreviousQuestionAvailable()}" data-translate-title="[previous question]">&nbsp;</a>
                <span class="navigation-progress"><span data-bind="text: navigationContext.currentQuestionIndex + ' '"></span><span>/</span><span data-bind="text: ' ' + navigationContext.questionsCount"></span></span>

                <a class="next" data-bind="attr: { href: navigationContext.nextQuestionUrl, title: 'next' }, css:{disabled: !isNextQuestionAvailable() }" data-translate-title="[next question]">&nbsp;</a>
            </div>
    <!-- /ko -->
</section>