<section id="content" class="question unselectable" data-bind="keyDown: { 37: { handler: goPrevious }, 39: { handler: goNext } }">
    <div>
        <header class="page-header">
            <div class="navigation-home-link-wrapper" data-bind="click: backToSections">
                <div tabindex="0" class="navigation-home-link material-icons" data-bind="submitOnEnter: backToSections, css: { disabled: isNavigationLocked }">home</div>
            </div>
            <div class="section-progress-wrapper">
                <div class="section-image-wrapper" data-bind="style: { 'background-image': 'url(' + section.imageUrl + ')' }, css: { 'affect-progress': section.affectProgress }">
                    <!-- ko if: section.affectProgress -->
                    <div class="sections-canvas-wrapper">
                        <canvas tabindex="0" class="canvas-styles" width="92" height="92" data-bind="circleProgress: { progress: section.score(), masteryScore:masteryScore,lineWidth:2 },toolTip:{progress: section.score(), masteryScore:masteryScore}"></canvas>
                    </div>
                    <span class="progress-text" data-bind="text: section.score() + '%'"></span>

                    <!-- /ko -->
                </div>
            </div>
            <div class="section-info">
                <span data-bind="text: section.title, reviewable: {type: 'section', property: 'title', id: section.id, title: section.title}">section title</span>
            </div>
            <div class="questions-navigation-container">
                <div class="question-navigation-bar">
                    <a class="previous" data-bind="attr: { href: previousQuestionUrl(), title: 'previous'},css:{disabled : !isPreviousQuestionAvailable()}" data-translate-title="[previous question]">&nbsp;</a>
                    <span class="navigation-progress"><span data-bind="text: navigationContext.currentQuestionIndex + ' '"></span><span>/</span><span data-bind="text: ' ' + navigationContext.questionsCount"></span></span>
                    <a class="next" data-bind="attr: { href: nextQuestionUrl(), title: 'next' }, css:{disabled: !isNextQuestionAvailable() }" data-translate-title="[next question]">&nbsp;</a>
                </div>
            </div>
        </header>
        <!-- ko if: voiceOver -->
        <div class="voiceOver" data-bind="mediaPlayer: { embedCode: voiceOver}, reviewable: {type: question.isInformationContent ? 'informationContent' : 'question', property: 'voiceOver', id: question.id, title: question.title}"></div>
        <!-- /ko -->
        <!-- ko compose: { model: activeViewModel, activationData: [ section.id, question ] } --><!-- /ko -->
    </div>
    <div class="question-navigation-bar" style="float: right">
        <a class="previous" data-bind="attr: { href: previousQuestionUrl(), title: 'previous'},css:{disabled : !isPreviousQuestionAvailable()}" data-translate-title="[previous question]">&nbsp;</a>
        <span class="navigation-progress"><span data-bind="text: navigationContext.currentQuestionIndex + ' '"></span><span>/</span><span data-bind="text: ' ' + navigationContext.questionsCount"></span></span>
        <a class="next" data-bind="attr: { href: nextQuestionUrl(), title: 'next' }, css:{disabled: !isNextQuestionAvailable() }" data-translate-title="[next question]">&nbsp;</a>
    </div>
</section>