<section id="feedback" data-bind="scrollIntoView: isAnswered">
    <!-- ko if: isAnswered() -->
    <!-- ko if: isCorrectAnswered() || (isWrongAnswered() && isSurvey) -->
    <div class="result-block-wrapper" data-bind="autofocus">
        <div class="question-result-block" data-bind="text: feedbackResultText, title: feedbackResultText"></div>
        <div class="question-feedback-holder styled-content" data-bind="visible: correctFeedback, html: correctFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium primary autofocus" data-bind="click: goToResults, css: { disabled: isNavigationLocked }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- ko ifnot: isGoToResultsVisible -->
            <!-- ko if: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isWrongAnswered() && !isSurvey -->
    <div class="result-block-wrapper" data-bind="autofocus">
        <div class="question-result-block incorrect" data-bind="text: feedbackResultText, title: feedbackResultText">
        </div>
        <div class="question-feedback-holder styled-content" data-bind="visible: incorrectFeedback, html: incorrectFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            
            <!-- ko if: hideTryAgain -->
            <!-- ko ifnot: isGoToResultsVisible -->
            <!-- ko if: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary autofocus" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium primary autofocus" data-bind="click: goToResults, css: { disabled: isNavigationLocked }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: hideTryAgain -->
            <button class="button medium primary autofocus" data-bind="click: tryAnswerAgain" data-translate-text="[try again]" data-translate-title="[try again]">Try again</button>
            <!-- ko ifnot: isGoToResultsVisible -->
            <!-- ko if: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium default" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium default" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium default" data-bind="click: goToResults, css: { disabled: isNavigationLocked }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- /ko -->
            
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</section>