<section id="informationContent" class="content information-content" data-bind="reviewable: {type: 'informationContent', id: id, title: title}, autofocus">
    <div class="learning-content-section">
        <div tabindex="-1" class="information-content-title autofocus">
            <span class="material-icons"> school</span>
            <span data-bind="text: title"></span>
        </div>
        <!-- ko if: learningContents.length > 0 -->
        <section id="learning-contents" class="learning-contents">
            <ul class="learning-content-items unstyled">
                <!-- ko foreach: learningContents-->
                <li class="learning-content-item styled-content" data-bind="contentBlock: content"></li>
                <!-- /ko -->
            </ul>
        </section>
        <!-- /ko -->
    </div>
    <div class="result-block">
        <div class="result-btn-holder">

            <!-- ko if: isGoToResultsVisible -->
            <button class="button medium primary" data-bind="click: goToResults, css: { disabled: isNavigationLocked }" data-translate-text="[go to results]" data-translate-title="[next section]">Go to results</button>
            <!-- /ko -->
            <!-- ko ifnot: isGoToResultsVisible -->
            <!-- ko if: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: navigateNext, css: { disabled: isNavigationLocked }" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: !isGoToNextSectionVisible() && navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: goToNextSection, css: { disabled: isNavigationLocked }" data-translate-text="[next section]" data-translate-title="[next section]">Next section</button>
            <!-- /ko -->
            <!-- /ko -->
            
        </div>
    </div>
    <!-- ko if: copyright --> 
    <div class="copyright-text" data-bind="text: copyright"></div>
    <!-- /ko -->
</section>