<section id="informationContent" class="content">

    <div class="learning-content-section">
        <div class="question-title" data-bind="text: title"></div>
        <!-- ko if: learningContents.length > 0 -->
        <section id="learning-contents" class="learning-contents">
            <ul class="learning-content-items unstyled">
                <!-- ko foreach: learningContents-->
                <li class="learning-content-item styled-content" data-bind="learningContent: content"></li>
                <!-- /ko -->
            </ul>
        </section>
        <!-- /ko -->
    </div>
    <div class="result-block">
        <div class="result-btn-holder">
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: navigateNext" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: navigateNext" data-translate-text="[home]" data-translate-title="[home]">Home</button>
            <!-- /ko -->
        </div>
    </div>
</section>