<section id="questionContent">
    <!-- ko if: learningContents.length > 0 -->
    <section class="content learning-content" data-bind="css:{collapsed:!isExpanded()},toggleVisible:{isExpanded:isExpanded()}">
        <div class="toggle-expand-container" data-bind="click: toggleExpand">
            <div class="learning-content-title" >
                <span data-translate-text="[learning content]">Learning content</span>
            </div>
            <a class="expand-button" data-bind="css:{expand:!isExpanded()}"></a>
        </div>
            <section id="learning-contents" class="learning-contents" data-animate="">
                <ul class="learning-content-items unstyled">
                    <!-- ko foreach: learningContents-->
                    <li class="learning-content-item styled-content" data-bind="learningContent: content"></li>
                    <!-- /ko -->
                </ul>
            </section>

    </section>
    <!-- /ko -->
    <section class="content learning-content">
        <div class="learning-content-title question-content-title">
            <span data-translate-text="[question]">question</span>
        </div>

        <div class="question-title selectable" data-bind="text: title">
            question title
        </div>
        <!-- ko compose: activeQuestionViewModel --><!-- /ko -->
        <!-- ko compose: { view: feedbackView } --><!-- /ko -->
        <!-- ko ifnot: isAnswered -->
        <div class="btn-submit-wrapper">
            <button href="#" class="button medium primary" data-bind="click: submit" data-translate-text="[submit]" data-translate-title="[submit]">Submit</button>
        </div>
        <!-- /ko -->
    </section>




</section>