<section id="questionContent">
    <!-- ko if: learningContents.length > 0 -->
    <div class="learning-content-section">
        <div class="learning-content-title" data-bind="click: toggleExpand">
            <span data-translate-text="[learning content]">Learning content</span>
			<span class="learning-content-expander-indicator" data-bind="css: { 'expanded' : isExpanded }"></span>
        </div>

        <!-- ko if: isExpanded -->
        <section id="learning-contents" class="learning-contents">
            <ul class="learning-content-items unstyled">
                <!-- ko foreach: learningContents-->
                <li class="learning-content-item styled-content" data-bind="html: content, elementsWrap: {}"></li>
                <!-- /ko -->
            </ul>
        </section>
        <!-- /ko -->

    </div>
    <!-- /ko -->
    <div class="question-section">
        <div class="question-title selectable" data-bind="text: title">
            question title
        </div>
        <!-- ko compose: activeQuestionViewModel --><!-- /ko -->
    </div>

    <!-- ko ifnot: isAnswered -->
    <div class="btn-submit-wrapper">
        <a href="#" class="small-page-action-btn submit-btn" data-bind="click: submit" data-translate-text="[submit]" data-translate-title="[submit]">Submit</a>
    </div>
    <!-- /ko -->
    <!-- ko if: isCorrectAnswered -->
    <div class="result-block correct" data-bind="scrollIntoView: isAnswered">
        <div class="result-text-wrapper">
            <div class="result-text" data-translate-text="[correct answer]" data-translate-title="[correct answer]">Correct answer</div>
        </div>
        <div class="question-feedback-holder styled-content" data-bind="visible: correctFeedback, html: correctFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="small-page-action-btn next-question-btn correct" data-bind="click: navigateNext" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: navigationContext.nextQuestionUrl -->
            <button class="small-page-action-btn next-question-btn correct" data-bind="click: navigateNext" data-translate-text="[home]" data-translate-title="[home]">Home</button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isWrongAnswered -->
    <div class="result-block incorrect" data-bind="scrollIntoView: isAnswered">
        <div class="result-text-wrapper">
            <div class="result-text" data-translate-text="[incorrect answer]" data-translate-title="[incorrect answer]">Incorrect answer</div>
        </div>
        <div class="question-feedback-holder styled-content" data-bind="visible: incorrectFeedback, html: incorrectFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            <button class="small-page-action-btn try-again-btn" data-bind="click: tryAnswerAgain" data-translate-text="[try again]" data-translate-title="[try again]">Try again</button>
            <span class="feedback-btn-whitespace"></span>
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="small-page-action-btn next-question-btn incorrect" data-bind="click: navigateNext" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: navigationContext.nextQuestionUrl -->
            <button class="small-page-action-btn next-question-btn incorrect" data-bind="click: navigateNext" data-translate-text="[home]" data-translate-title="[home]">Home</button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</section>