<!-- ko if: content-->
<div class="question-content-wrapper">
    <div class="question-content styled-content" data-bind="html: content, elementsWrap: {}"></div>
</div>
<!-- /ko -->
<div class="dnd-wrapper" data-bind="css:{ disabled: isAnswered}">
    <div class="dnd-values-wrapper">
        <div class="dnd-values-holder" data-bind="dropspot: { data: stockDropspot.items, containerClass:'dnd-wrapper', dropspotClass:'dnd-dropspot', connectClass : 'dnd-drop', afterMove: stockDropspot.afterMove}">
            <div class="dnd-dragable-text-holder">
                <span class="dnd-dragable-text" data-bind="text: text, attr:{title: text}"></span>
            </div>
        </div>
        <!-- ko if: stockDropspot.items().length == 0 -->
        <div class="dnd-no-values-caption" data-translate-text="[drag and drop question all texts are placed]" data-translate-title="[drag and drop question all texts are placed]">
            All texts are placed
        </div>
        <!-- /ko -->
    </div>
    <div class="dnd question-image-wrapper">
        <div class="dnd-image-holder">
            <!-- ko foreach: dropspots-->
            <div class="dnd-dropspot-holder" data-bind="style: { 'left': position.x + 'px', 'top': position.y + 'px'}">
                <div class="dnd-dropspot" data-bind="dropspot: { data: items, containerClass: 'dnd-wrapper', dropspotClass: 'dnd-dropspot', connectClass : 'dnd-drop', allowDrop: allowDrop, afterMove: afterMove}">
                    <div class="dnd-dragable-text-holder">
                        <span class="dnd-dragable-text" data-bind="text: text, attr:{title: text}"></span>
                    </div>
                </div>
                <div class="dnd-dropspot-tooltip show-on-drag">
                    <span class="dnd-drop-text" data-translate-text="[drag and drop question drop here]" data-translate-title="[drag and drop question drop here]">Drop here</span>
                </div>
            </div>
            <!-- /ko -->
            <img class="dnd-image" src="" data-bind="attr:{src: question.background}" />
        </div>
    </div>
    <!-- ko if: isAnswered -->
    <div class="question-overlay"></div>
    <!-- /ko -->
</div>
