<section class="overlay-wrapper">
    <!-- ko if: content-->
    <div class="question-content-wrapper">
        <div class="question-content styled-content" data-bind="html: question.content, elementsWrap: {}"></div>
    </div>
    <!-- /ko -->
    <section class="drag-and-drop-text">
        <div>
            <div class="drag-and-drop-text-draggable-container" data-bind="draggableTextContainer: {}, scope: question.id">
                <div class="drag-and-drop-text-draggable-container-message" data-translate-text="[drag and drop question all texts are placed]">
                    All texts are placed
                </div>
                <!-- ko foreach: texts -->
                <div class="drag-and-drop-text-draggable" data-bind="draggableText: {}, scope: $parent.question.id">
                    <div data-bind="text: _.isObject(text) ? text.text : text, attr: {title: _.isObject(text) ? text.text : text}">
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="drag-and-drop-text-background-wrapper">
                <div data-bind="background: question.background" class="drag-and-drop-text-background">
                    <!-- ko foreach: dropspots -->
                    <div class="drag-and-drop-text-dropspot" data-bind="dropspot: $data, scope: $parent.question.id">
                        <div class="drag-and-drop-text-dropspot-tooltip-image">
                        </div>
                        <div class="drag-and-drop-text-dropspot-tooltip-text" data-translate-text="[drag and drop question drop here]">
                            Drop here
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>

        </div>
    </section>
    <!-- ko if: isAnswered -->
    <div class="question-overlay"></div>
    <!-- /ko -->
</section>