<section id="feedback">
    <!-- ko if: isCorrectAnswered -->
    <div class="result-block-wrapper" data-bind="scrollIntoView: isAnswered">

        <div class="question-result-block" data-translate-text="[your answer was stored]" data-translate-title="[your answer was stored]">Correct answer</div>
        <div class="question-feedback-holder styled-content" data-bind="visible: correctFeedback, html: correctFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: navigateNext" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: navigationContext.nextQuestionUrl -->
            <button class="button medium primary" data-bind="click: navigateNext" data-translate-text="[home]" data-translate-title="[home]">Home</button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isWrongAnswered -->
    <div class="result-block-wrapper" data-bind="scrollIntoView: isAnswered">
        <div class="question-result-block incorrect" data-translate-text="[your answer is empty and was not stored]" data-translate-title="[your answer is empty and was not stored]">
        </div>
        <div class="question-feedback-holder styled-content" data-bind="visible: incorrectFeedback, html: incorrectFeedback, elementsWrap: {}"></div>
        <div class="result-btn-holder">
            <button class="button medium primary" data-bind="click: tryAnswerAgain" data-translate-text="[try again]" data-translate-title="[try again]">Try again</button>
            <!-- ko if: navigationContext.nextQuestionUrl -->
            <button class="button medium danger" data-bind="click: navigateNext" data-translate-text="[next]" data-translate-title="[next]">Next</button>
            <!-- /ko -->
            <!-- ko ifnot: navigationContext.nextQuestionUrl -->
            <button class="button medium info" data-bind="click: navigateNext" data-translate-text="[home]" data-translate-title="[home]">Home</button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</section>
