<section class="overlay-wrapper">
    <!-- ko if: content -->
    <div class="question-content-wrapper">
        <div class="question-content styled-content" data-bind="html: content, elementsWrap: {}"></div>
    </div>
    <!-- /ko -->
    <div class="edit-field-wrapper">
        <textarea class="open-question-edit-field edit-field selectable" data-bind="textArea: answeredText, attr:{ disabled: isAnswered }, keyDown: {37: {preventDefault: false}, 39: {preventDefault: false}}" data-translate-placeholder="[type your answer here]"></textarea>
    </div>
    <!-- ko if: isAnswered() || isPreview() -->
    <div class="question-overlay"></div>
    <!-- /ko -->
</section>