<section id="login" class="login unselectable">

    <div class="content" data-bind="focusHandler: {}">
        <header class="page-header">
            <h1 class="course-title">
                <span class="course-label" data-translate-text="[course]">Course:</span>&nbsp;<span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
        </header>

        <div class="xapi-form-holder">
            <div class="xapi-form-info">
                <h2 class="xapi-form-caption page-caption selectable" data-translate-text="[tracking and tracing header]">Your credentials for progress tracking</h2>
                <!-- ko if: allowToSkipTracking() -->
                <p class="xapi-form-text" data-translate-text="[tracking and tracing hint]">
                    Please enter your credentials and click "Start and report my progress" to enable progress tracking. Otherwise, click "Do not report, just start".
                </p>
                <!-- /ko -->
                <!-- ko ifnot: allowToSkipTracking() -->
                <p class="xapi-form-text" data-translate-text="[tracking and tracing hint without skip]">
                    Please enter your credentials and click "Start and report my progress" to start the course.".
                </p>
                <!-- /ko -->
            </div>
            <div class="xapi-form-credentials">
                <div class="xapi-form-row name" data-bind="css: { error: !username.isValid() && username.isModified() }">
                    <div class="xapi-form-input-holder">
                        <span class="xapi-form-input-wrapper"></span>
                        <input placeholder="Your name" data-translate-placeholder="[tracking and tracing name field]" tabindex="5" class="xapi-form-input selectable" type="text" ondrop="return false;" data-bind="value: username, valueUpdate: 'afterkeydown', event: { blur: function () { username.markAsModified().trim(); } }">
                        <span class="xapi-form-message" data-bind="visible: !username.isValid() && username.isModified()" data-translate-text="[tracking and tracing name is not valid]" data-translate-title="[tracking and tracing name is not valid]">Fill in your name</span>
                    </div>
                </div>
                <div class="xapi-form-row email" data-bind="css: { error: !usermail.isValid() && usermail.isModified() }">
                    <div class="xapi-form-input-holder">
                        <span class="xapi-form-input-wrapper"></span>
                        <input placeholder="Your e-mail" data-translate-placeholder="[tracking and tracing email field]" tabindex="5" class="xapi-form-input selectable" type="text" ondrop="return false;" data-bind="value: usermail, valueUpdate: 'afterkeydown', event: { blur: function () { usermail.markAsModified().trim(); } }">
                        <span class="xapi-form-message" data-bind="visible: !usermail.isValid() && usermail.isModified()" data-translate-text="[tracking and tracing email is not valid]" data-translate-title="[tracking and tracing email is not valid]">Enter a valid e-mail</span>
                    </div>

                </div>
            </div>
            <div class="xapi-btn-container clearfix">
                <!-- ko if: allowToSkipTracking() -->
                <div class="xapi-nav-start">
                    <a class="small-page-action-btn start-btn" href="#" data-bind="click: login" data-translate-title="[tracking and tracing start]"><span class="xapi-start-text" data-translate-text="[tracking and tracing start]">Start and report my progress</span></a>
                </div>
                <div class="xapi-nav-skip">
                    <a class="xapi-nav-link" href="#" data-bind="click: skip" data-translate-text="[tracking and tracing skip reporting]" data-translate-title="[tracking and tracing skip reporting]">Do not report, just start</a>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: allowToSkipTracking() -->
                <div class="xapi-nav-start center">
                    <a class="small-page-action-btn start-btn" href="#" data-bind="click: login" data-translate-title="[tracking and tracing start]"><span class="xapi-start-text" data-translate-text="[tracking and tracing start]">Start and report my progress</span></a>
                </div>
                <!-- /ko -->
                </div>
        </div>

        <div class="xapi-start-agreement">
            * By clicking the button "<span data-translate-text="[tracking and tracing start]"></span>” you agree to the fact that your results and scores will be stored. These results will only be visible to the organizer (author) of your course.
        </div>
    </div>
</section>
