<section id="xapiNotSupported" class="xapiNotSupported unselectable">

    <div class="content" data-bind="focusHandler: {}">
        <header class="page-header">
            <h1 class="course-title">
                <span class="course-label" data-translate-text="[course]">Course:</span>&nbsp;<span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
        </header>

        <div class="xapi-message-holder">
            <div class="xapi-message-info">
                <h2 class="xapi-message-title page-caption selectable" data-translate-text="[tracking and tracing not supported]">Progress tracking cannot be established</h2>
                <p class="xapi-message-text" data-translate-text="[tracking and tracing not supported hint]">
                    Sorry, this course does not support progress tracking in Internet Explorer 9. Please use one of the following browser: Chrome, Firefox, Safari, IE10+ in order to track your progress, or just start the course without tracking.
                </p>
            </div>

            <div class="xapi-btn-container clearfix">
                <a class="xapi-nav-link" href="#" data-bind="click: skip" data-translate-text="[tracking and tracing skip reporting]" data-translate-title="[tracking and tracing skip reporting]">Do not report, just start</a>
            </div>
        </div>
    </div>

</section>
