<section id="xapiError" class="container xapi-error-section">
    
    <div class="xapi-error-container">
        <div class="xapi-error-container-img"></div>
        <h1 class="xapi-error-container-header" data-translate-text="[something is wrong]">Something is wrong</h1>
        <span class="xapi-error-container-description" data-translate-text="[skip reporting message]">If you continue without restarting, your learning progress will not be reported.</span>
        <button class="xapi-error-container-button restart" data-bind="click: restartCourse" data-translate-text="[restart course]">Restart course</button>
        <button class="xapi-error-container-button continue" data-bind="click: continueLearning" data-translate-text="[continue anyway]">Continue anyway</button>
    </div>

</section>