<section id="errorPage404" class="error error-404">
    <div class="text-wrapper-404">
        <div class="title-wrapper-404">404</div>
        <div class="title-text-wrapper-404">
            <p data-translate-text="[page not found message]">
                Sorry, the page you have been looking for has not been found. Try checking the URL on errors, use the navigation above or click 'Home' link below.
            </p>
            <a class="button success medium" href="#/" data-translate-text="[home]"></a>
        </div>
    </div>
    <div class="footer-404"></div>
</section>