<section class="summary-wrapper" data-bind="blockBodyScroll: continueLaterPopup.isVisible()">
    <!-- ko if: type() === 'extended' -->
    <section class="summary-extended-wrapper">
        <div class="summary-extended-background"></div>
        <div class="summary-extended">
            <div class="overall-progress-wrapper">
                <div class="overall-progress">
                    <div>
                        <div class="overall-progress-label-wrapper">
                            <span class="overall-progress-label" data-translate-text="[Overall progress]"></span>
                        </div>
                        <div class="overall-progress-progressbar-wrapper">
                            <div class="overall-progress-progressbar">
                                <canvas class="overall-progress-progressbar-canvas canvas-styles" width="80" height="80" data-bind="circleProgress: { progress: score(), lineWidth:2,radius:39, isMastered: isCompleted }"></canvas>
                                <div class="overall-progress-progressbar-text" data-bind="text: score() + '%'">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko ifnot: hideFinishActionButtons -->
            <div class="exit-course-wrapper">
                <div class="exit-course-container">
                    <!-- ko if: !xAPIEnabled && !scormEnabled -->
                    <button class="button small primary exit-course-button" data-translate-text="[finish course when tracking disabled]" data-bind="click: finishAction, css: { disabled: isNavigationLocked }"></button>
                    <!-- /ko -->
                    <!-- ko if: xAPIEnabled || scormEnabled -->
                    <button class="button small primary exit-course-button" data-translate-text="[finish course]" data-bind="click: finishAction, css: { disabled: isNavigationLocked }"></button>
                    <!-- /ko -->
                    <div class="or-separator">
                        <span class="or-separator-text" data-translate-text="[or]"></span>
                    </div>
                    <div class="exit-course-link-wrapper">
                        <a class="exit-course-link" href="#" data-translate-title="[take a break and continue later]" data-translate-text="[take a break and continue later]" data-bind="click: takeABreakAction"></a>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </section>
    <!-- /ko -->
    <!-- ko ifnot: type() ==='extended' -->
    <section class="summary-short">
        <button class="exit-course-button" data-bind="click: takeABreakAction, css: { disabled: isNavigationLocked }">
            <span class="material-icons">exit_to_app</span>
            <span data-translate-text="[take a brake]"></span>
        </button>
    </section>
    <!-- /ko -->
    <!-- ko if: continueLaterPopup.isVisible -->
        <!-- ko compose: { view: 'dialogs/continueLater', model: 'dialogs/continueLater', activationData: [ continueLaterPopup.actions, continueLaterPopup.isVisible ] } --><!-- /ko -->
    <!-- /ko -->
</section>