<section class="exit-course-button-wrapper">
    <button class="exit-course-button" data-bind="click: openFinishPopup" data-translate-text="[save and exit]"></button>
    <div class="finish-course-layout" data-bind="visible: status() == statuses.sendingRequests">
        <div class="finish-course-layout-block"></div>
        <div class="finish-course-layout-loader">
            <span class="finish-course-layout-loader-text" data-translate-text="[tracking and tracing reporting progress]">reporting progress...</span>
        </div>
    </div>
    <!-- ko if: finishPopupVisibility -->
    <!-- ko compose: { view: 'dialogs/finishCourse', model: 'dialogs/finishCourse', activationData: { finish: finish, close: closeFinishPopup, exitCourse: close } } -->
    <!-- /ko -->
    <!-- /ko -->
</section>
