<section id="objectivesPage" class="objectives " data-view="views/objectives" data-active-view="true" style="">
    <div>
        <header class="page-header">
            <h1 class="course-title" data-bind="css: {small: courseTitle.length>100}">
                <span class="course-label" data-translate-text="[course]">Course:</span>&nbsp;<span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
            <div class="overall-progress-block">
                <div class="overall-progress-block-container">
                    <div class="overall-progress-wrapper">
                        <canvas class="canvas-styles" width="100" height="100" data-bind="circleProgress: { progress: score,lineWidth:2,radius:43}"></canvas>
                        <div class="overall-progress-score " data-bind="text: score + '%'">0%</div>
                    </div>
                    <div class="course-action-block">
                        <button class="button danger small finish-course-btn " data-bind="click: openFinishPopup" data-translate-text="[finish course]" data-translate-title="[finish course]">Finish course</button>
                    </div>
                </div>
            </div>
        </header>
        <ul class="objectives-list" data-bind="foreach: objectives">

            <li class="objectives-list-item" data-bind="click: goToFirstQuestion">
                <div class="objective-image-holder">
                    <div class="objective-image" data-bind="style: { 'background-image': 'url(' + imageUrl + ')' }"></div>
                    <button class="button small success" data-translate-text="[start course]"></button>
                </div>
                <!-- ko if: affectProgress -->
                <div class="objective-progress">
                    <canvas class="canvas-styles" width="48" height="48" data-bind="circleProgress: { progress: score, radius:22,masteryScore:$parent.masteryScore,lineWidth:2 },toolTip:{progress: score, masteryScore:$parent.masteryScore}"></canvas>
                    <span class="objective-progress-text-wrapper" data-bind="text:score+'%'"></span>

                </div>
                <!-- /ko -->
                <!-- ko ifnot: affectProgress -->
                <div class="objective-progress-no-questions" data-translate-text="[there are no questions]">No questions</div>

                <!-- /ko -->
                <div class="objective-info">
                    <span data-bind="text: title">objective title</span>
                </div>
            </li>
        </ul>

        <div class="objectives-page-layout" data-bind="visible: status() == statuses.sendingRequests">
            <div class="objectives-page-layout-block"></div>
            <div class="objectives-page-layout-loader">
                <span class="objectives-page-layout-loader-text" data-translate-text="[tracking and tracing reporting progress]">reporting progress...</span>
            </div>
        </div>
    </div>
    <!-- ko if: finishPopupVisibility -->
    <!-- ko compose: { view: 'dialogs/finishCourse', model: 'dialogs/finishCourse', activationData: { finish: finish, close: closeFinishPopup } } -->
    <!-- /ko -->
    <!-- /ko -->
</section>
