<section id="objectivesPage" class="objectives unselectable" data-view="views/objectives" data-active-view="true" style="">
    <div class="content">
        <header class="page-header">
            <h1 class="course-title">
                <span class="course-label" data-translate-text="[course]">Course:</span>&nbsp;<span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
            <div class="overall-progress-block">
                <div class="overall-progress-wrapper">
                    <canvas class="canvas-styles" width="100" height="100" data-bind="circleProgress: { progress: score }"></canvas>
                    <div class="overall-progress-score selectable" data-bind="text: score + '%'">0%</div>
                </div>
            </div>
            <div class="course-action-block">
                <a href="#" class="finish-btn small-page-action-btn" data-bind="click: finish" data-translate-text="[finish course]" data-translate-title="[finish course]">Finish course</a>
            </div>
        </header>

        <h2 class="page-caption" data-translate-text="[learning objectives]">Learning objectives:</h2>

        <ul class="objectives-list" data-bind="foreach: objectives">
            <li class="objectives-list-item-wrapper" data-bind="click: goToFirstQuestion">
                <div class="objectives-list-item">
                        <div class="objective-image-holder">
                            <div class="objective-image" data-bind="style: { 'background-image': 'url(' + imageUrl + ')' }"></div>
                        </div>
                        <div class="objective-info">
                            <span data-bind="text: title">objective title</span>
                            <div class="objective-progress">
                                <!-- ko if: affectProgress -->
                                <div class="objective-progressbar-holder">
                                    <div class="objective-progressbar-inside">
                                        <div class="objective-progressbar-score" data-bind="style: { width: 100 - score + '%' }" style="width: 0%;">&nbsp;</div>
                                        <div class="objective-progressbar-masteryscore-indicator" data-bind="style: { left: $parent.masteryScore + '%' }">
                                            <div class="objective-progressbar-masteryscore-indicator-value"></div>
                                            <div class="objective-progressbar-masteryscore-indicator-tooltip-wrapper">
                                                <div class="objective-progressbar-masteryscore-indicator-tooltip"><span data-bind="text: $parent.masteryScore + '% '"></span><span data-translate-text="[to complete]">to complete</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="objective-progressbar-wrapper">
                                        <div class="objective-progressbar-border"></div>
                                    </div>
                                </div>
                                <span class="objective-progress-score" data-bind="text: score + '%'">0%</span>
                                <!-- /ko -->
                                <!-- ko ifnot: affectProgress -->
                                <div class="objective-progressbar-holder">
                                    <div class="objective-progressbar-wrapper not-affect-progress">
                                        <div class="objective-progressbar-border" data-translate-text="[there are no questions]">No questions</div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="objective-start course-action-block">
                            <button class="small-page-action-btn start-btn" href="#" data-translate-text="[start]" data-translate-title="[start]">Start</button>
                        </div>
                    </div>
            </li>
        </ul>
        <div class="objectives-page-layout" data-bind="visible: status() == statuses.sendingRequests">
            <div class="objectives-page-layout-block"></div>
            <div class="objectives-page-layout-loader">
                <span class="objectives-page-layout-loader-text" data-translate-text="[tracking and tracing reporting progress]">reporting progress...</span>
            </div>
        </div>
    </div>
</section>
