<section id="sectionsPage" class="sections " data-view="views/sections" data-active-view="true" style="">
    <div data-bind="autofocus">
        <header class="page-header">
            <h1 class="course-title" data-bind="css: {small: courseTitle.length>100}">
                    <span class="course-label" data-translate-text="[course]">Course:</span>&nbsp;<span class="course-caption" data-bind="text: courseTitle, reviewable: {type: 'course', property: 'title'}">"course_name"</span>
                </h1>
            <div class="course-action-block">
                <!-- ko compose: { model: 'viewmodels/exitCourse', activationData: [ 'extended'] } -->
                <!-- /ko -->
            </div>
        </header>

        <ul tabindex="-1" class="sections-list autofocus" data-bind="foreach: sections">

            <li tabindex="0" class="sections-list-item" data-bind="click: goToFirstQuestion, submitOnEnter, css: { disabled: $parent.isNavigationLocked }, css:$root.sectionsLayout, reviewable: {type: 'section', property: 'title', id: id, title: title}">
                <!-- ko if: $root.sectionsLayout==="Tiles" -->
                <div class="section-image-holder">
                    <div class="section-image" data-bind="style: { 'background-image': 'url(' + imageUrl + ')' }"></div>
                    <button tabindex="-1" class="button small primary" data-translate-text="[start]" data-bind="css: { disabled: $parent.isNavigationLocked }"></button>
                </div>
                <!-- ko if: affectProgress -->
                <div class="section-progress">
                    <canvas tabindex="0" class="canvas-styles" width="48" height="48" data-bind="circleProgress: { progress: score, radius:22,masteryScore:$parent.masteryScore,lineWidth:2 },toolTip:{progress: score, masteryScore:$parent.masteryScore}"></canvas>
                    <span class="section-progress-text-wrapper" data-bind="text:score+'%'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: affectProgress -->
                <div class="section-progress-no-questions" data-translate-text="[there are no questions]">No questions</div>
                <!-- /ko -->
                <div class="section-info">
                    <span data-bind="text: title">section title</span>
                </div>
                <!--/ko-->
                <!-- ko if: $root.sectionsLayout==="List" -->
                <div class="section-info">
                    <div class="section-image-holder">
                        <div data-bind="style: { 'background-image':  'url('+imageUrl+')'}"></div>
                    </div>
                    <div class="section-info-holder">
                        <div data-bind="text: title"></div>
                        <!-- ko ifnot: affectProgress -->
                        <span class="section-progress-no-questions" data-translate-text="[there are no questions]">No questions</span>
                        <!-- /ko -->
                        <!-- ko if: affectProgress -->
                        <div class="section-progress">
                            <div class="progressbar-wrapper canvas-styles">
                                <div class='progressbar'>
                                    <div class="progressbar-value" data-bind="style: {width: score+'%'}, css:{mastered:score >= $parent.masteryScore}"></div>
                                    <div class="mastered-score-tooltip" data-bind="style: {left:$parent.masteryScore+'%'}, css:{mastered:score >= $parent.masteryScore}">
                                        <span class="material-icons">done</span>
                                        <span class="mastered-score-tooltip-text">
                                            <span data-bind="text: scoreTooltipText"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="progress-value" data-bind="text:score+'%'"></span>
                        </div>

                        <!-- /ko -->

                    </div>
                    <div class="section-start-button-holder">
                        <button class="button small primary" data-translate-text="[start]" data-bind="css: { disabled: $parent.isNavigationLocked }"></button>
                    </div>
                </div>
                <!--/ko-->
            </li>
        </ul>
    </div>
</section>