<div class="header clearfix" data-bind="css: 'module-' + cssName()">
    <div class="main-logo">
        <span class="main-logo-img">
            <!-- ko if: viewSettings().rootLinkEnabled  -->
            <a href="#objectives">
                <img alt="" src="" data-bind="attr: { src: logoUrl }">
            </a>
            <!-- /ko -->
            <!-- ko ifnot: viewSettings().rootLinkEnabled -->
            <img alt="" src="" data-bind="attr: { src: logoUrl }">
            <!-- /ko -->
        </span>
    </div>
    <!-- ko if: $root.saveProgress -->
    <div class="save-progress">
        <div class="content-wrapper">
            <!-- ko if: $root.isProgressDirty -->
            <button data-translate-title="[save my current progress]" class="save-progress-btn" data-bind="click: saveProgress">
                <span data-translate-text="[save my current progress]" class="save-progress-text">Save my current progress</span>
            </button>
            <!-- /ko -->
            <!-- ko ifnot: $root.isProgressDirty -->
            <button data-translate-title="[progress has been saved]" class="save-progress-btn progress-saved">
                <span data-translate-text="[progress has been saved]" class="save-progress-text">Progress has been saved</span>
            </button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>
<div class="loader" data-bind="visible: isNavigatingToAnotherView()">
    <div class="loader-image"></div>
</div>
<section id="content" class="content-wrapper" data-bind="visible: !isNavigatingToAnotherView()">
    <!--ko router: { cacheViews: false, transition: 'defaultRouterTransition' }-->
    <!--/ko-->
</section>
<div class="blockout" data-bind="css: { active: isClosed }"></div>
<div data-bind="widget: {kind:'imagePreview'}"></div>