<!-- ko if: content -->
<div class="question-content-wrapper">
    <div class="question-content styled-content" data-bind="html: content, elementsWrap: {}"></div>
</div>
<!-- /ko -->
<!-- ko if: statements().length -->
<ul class="statement">
    <li class="statement-headers-group">
        <div class="statement-option" data-translate-text="[statement question true text]" data-translate-title="[statement question true text]">
            True
        </div>
        <div class="statement-option" data-translate-text="[statement question false text]" data-translate-title="[statement question false text]">
            False
        </div>
    </li>

    <!-- ko foreach: statements -->
    <li class="statement-item" data-bind="css:{ enabled: !$parent.isAnswered(), checked: isTrueChecked() || isFalseChecked() }">
        <span class="statement-option ">
            <span class="radio-icon-wrapper">
                <button class="radio-icon" data-bind="click:$parent.markStatementAsTrue, css: { checked: isTrueChecked() }"></button>
            </span>
        </span>
        <span class="statement-option-separator-wrapper">
            <span class="statement-option-separator"></span>
        </span>
        <span class="statement-option">
            <span class="radio-icon-wrapper">
                <button class="radio-icon checked" data-bind="click:$parent.markStatementAsFalse, css: { checked: isFalseChecked() }"></button>
            </span>
        </span>
        <span class="statement-label" data-bind="text: text"></span>
    </li>
    <!-- /ko -->
</ul>
<!-- /ko -->
