<section class="overlay-wrapper">
    <!-- ko if: content -->
    <div class="question-content-wrapper">
        <div class="question-content styled-content" data-bind="html: content, elementsWrap: {}"></div>
    </div>
    <!-- /ko -->
    <div data-bind="dragula: { data: rankingItems }" class="gu-unselectable">
        <div class="ranking-item gu-draggable">
            <span class="ranking-item-icon"></span>
            <span class="ranking-item-text" data-bind="text: text"></span>
        </div>
    </div>
    <!-- ko if: isAnswered -->
    <div class="question-overlay"></div>
    <!-- /ko -->
</section>