<section class="overlay-wrapper">
    <!-- ko if: questionInstructions.length > 0 -->
    <section id="question-instructions" class="question-instructions" data-animate="">
        <ul class="question-instruction-items unstyled">
            <!-- ko foreach: questionInstructions-->
            <li class="question-instruction-item styled-content" data-bind="contentBlock: content"></li>
            <!-- /ko -->
        </ul>
    </section>
    <!-- /ko -->
    <!-- ko ifnot: isPreview -->
    <div data-bind="dragula: { data: rankingItems }" class="gu-unselectable">
        <div class="ranking-item gu-draggable" data-bind="preventDefaultTouchEvent: true">
            <span class="ranking-item-icon"></span>
            <span class="ranking-item-text" data-bind="text: text"></span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isPreview -->
    <div data-bind="foreach: { data: rankingItems }" class="gu-unselectable">
        <div class="ranking-item gu-draggable">
            <span class="ranking-item-icon"></span>
            <span class="ranking-item-text" data-bind="text: text"></span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isAnswered() || isPreview() -->
    <div class="question-overlay"></div>
    <!-- /ko -->
</section>